<app-dialog title="ข้อมูลโรค/หัตการ">
  <content fxLayout="column">
    <div fxLayout="row">
      <app-input-text-normal [value]="data.disID" name="disID" placeholder="U61.2" text="รหัสโรค ( ID Disease )" fxFlex
        [formGroup]='form'></app-input-text-normal>
    </div>
    <div fxLayout="row">
      <app-input-text-normal [value]="data.disName" name="disName" placeholder="เหน็บชา" text="ชื่อโรค ( Name Disease )" fxFlex
      [formGroup]='form'></app-input-text-normal>
    </div>
    <div fxLayout="row">
      <app-input-text-normal [value]="data.disProcedure" name="disProcedure" placeholder="ส.4 หัวไหล่" text="หัตถการ ( Procedure )"
        fxFlex [formGroup]='form'></app-input-text-normal>
    </div>

  </content>
  <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
    <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
  </footer>
</app-dialog>

