<mat-card>
    <img src="../assets/images/cloud-computing.png">
    <div class="example-container">
        <div fxLayout="row">
            <mat-form-field>
                <input matInput placeholder="ผู้ป่วยรายเก่า" >
            </mat-form-field>
        </div>
        <button mat-raised-button  (click)="login()">
            เข้าสู่ระบบ
        </button>
        <br><br>
        <button mat-raised-button (click)="openDialog()">ผู้ป่วยรายใหม่</button>
        
    </div>
    <br>
</mat-card>