<mat-card>
        <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
            <h2>ผู้รักษา</h2>
            <div fxFlex></div>
            <app-button-card-title (onClick)="openDialog()">
                <mat-icon>add</mat-icon>เพิ่มผู้รักษา</app-button-card-title>
        </mat-card-subtitle>
        <mat-card-content>
            <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                <ngx-datatable-column name="ลำดับ" [maxWidth]="100">
                    <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        {{rowIndex + 1}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="ใบอนุญาตประกอบโรคศิลปะเลขที่">
                    <ng-template let-value="value" ngx-datatable-cell-template>
    
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="ชื่อ-นามสกุล">
                    <ng-template let-value="value" ngx-datatable-cell-template>
    
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="ดำเนินการ" [maxWidth]="170">
                    <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <button mat-mini-fab color="primary" (click)="openEditDialog(value)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="confirmDelete(value)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-card-content>
    </mat-card>