<div [formGroup]="form">
    <mat-list-item *ngFor="let data of selectedDrugs;let index = index">
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center" fxLayoutGap="10px" [formGroupName]="index">
            <label fxFlex="nogrow" fxHide.xs>ยา</label>
            <mat-form-field fxFlex>
                <input type="text" placeholder="เลือกยา" matInput [matAutocomplete]="auto" formControlName="drug">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option value="">
                      --
                    </mat-option>
                    <mat-option *ngFor="let drug of filterDrugs" [value]="drug">
                        {{drug.drugName}} ( {{drug.drugPackages}} )
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <label fxFlex fxHide.xs fxFlex="nogrow">จำนวน</label>
            <mat-form-field fxFlex>
                <input type="text" placeholder="กรอกจำนวน" matInput formControlName="count">
            </mat-form-field>

            <button *ngIf="index===0" mat-mini-fab color="primary" (click)="add()">
                เพิ่ม
            </button>
            <button *ngIf="index!==0" mat-mini-fab color="warn" (click)="remove(data)">
                ลบ
            </button>

        </div>

    </mat-list-item>
</div>