
<div class="container" fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex.lt-md="100%" fxFlex="360px">
        <form [formGroup]="userForm" fxLayout="column" fxFlexFill (ngSubmit)="login(userForm.value)">
            <mat-form-field fxFlex="40">
                <input matInput type="text" placeholder="ชื่อเข้าใช้" formControlName="username">
            </mat-form-field>
            <mat-form-field fxFlex="40">
                <input matInput type="password" placeholder="รหัสผ่าน" formControlName="password">
            </mat-form-field>
            <button fxFlex="20" type="submit" mat-raised-button color="primary" [disabled]="formInValid"> เข้าสู่ระบบ </button>
        </form>
    </mat-card>
</div>