<app-dialog title="ข้อมูลสรุปความเจ็บป่วย">
    <content fxLayout="column">
        <div fxLayout="row">
            <mat-form-field>
                <mat-select placeholder="อาการโรค" text="อาการโรค ( Symptom )">
                    <mat-option *ngFor="let food of foods" [value]="data.summarySymptom" name="summarySymptom">
                        {{ food.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <app-input-text-normal [value]="data.summaryProcedure" name="summaryProcedure" placeholder="เหน็บชา" text="หัตถการ ( masssge )"
                fxFlex [formGroup]='form'></app-input-text-normal>
        </div>
        <div fxLayout="row">
            <app-input-text-normal [value]="data.summaryTreatment" name="summaryTreatment" placeholder="ส.4 หัวไหล่" text="การรักษา ( Treatment )"
                fxFlex [formGroup]='form'></app-input-text-normal>
        </div>
        <h2>จ่ายยา</h2>
        <div fxLayout="row">
        <form>
            <mat-form-field>
                <input type="text" placeholder="Pick one" matInput [(ngModel)]="select" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let drug of drugs" [value]="drug.drugName">
                        {{ drug.drugName }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <app-input-text-normal [value]="data.summaryUnit" name="summaryUnit" placeholder="2 กระปุก" text="จำนวน" fxFlex [formGroup]='form'></app-input-text-normal>
    </div>
        <!-- <h2 class="example-h2">วิธีการรักษา ( Treatment Program )</h2>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="นวดบำบัดและประคบสมุนไพร">นวดบำบัดและประคบสมุนไพร</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="อบไอน้ำสมุนไพร">อบไอน้ำสมุนไพร</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="ทับหม้อเกลือฟื้นฟูมารดาหลังคลอด">ทับหม้อเกลือฟื้นฟูมารดาหลังคลอด</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="นวดบำบัดอาการ">นวดบำบัดอาการ</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="ค่าประคบสมุนไพร">ค่าประคบสมุนไพร</mat-checkbox>
        </section> -->
        
        <!-- <div fxLayout="row">
            <app-input-text-normal [value]="data.summaryUnit" name="summaryUnit" placeholder="ส.4 หัวไหล่" text="หน่วย"
                fxFlex [formGroup]='form'></app-input-text-normal>
        </div> -->

    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>