<app-dialog title="ข้อมูลสรุปความเจ็บป่วย">
    <content fxLayout="column">
        <div fxLayout="row">
            <form>
                <mat-form-field>
                    <input type="text" placeholder="อาการโรค" matInput [(ngModel)]="symptoms" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let symptom of symptoms" [value]="symptom.summarySymptom">
                            {{ symptom.summarySymptom }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div fxLayout="row">
            <app-input-text-normal [value]="data.summaryProcedure" name="summaryProcedure" placeholder="เหน็บชา" text="หัตถการ ( masssge )"
                fxFlex [formGroup]='form'></app-input-text-normal>
        </div>
        <div fxLayout="row">
            <h3>วิธีการรักษา ( Treatment )</h3>
            <h3 class="daration">ช่วงเวลา ( Duration )</h3>
        </div>
        <div fxLayout="row">
            <form>
                <section class="example-section">
                    <mat-checkbox class="example-margin" color="warn" [(ngModel)]="checked">นวดบำบัดอาการ</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin" color="warn" [(ngModel)]="indeterminate">นวดบำบัดและประคบสมุนไพร</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin" color="warn" [(ngModel)]="checked">อบไอน้ำสมุนไพร</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin" color="warn" [(ngModel)]="indeterminate">ค่าประคบสมุนไพร</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin" color="warn" [(ngModel)]="indeterminate">ทับหม้อเกลือฟื้นฟูมารดาหลังคลอด</mat-checkbox>
                </section>
            </form>
            <form>
                <mat-radio-group>
                    <mat-radio-button class="time" color="primary" value="ในเวลา">ในเวลา</mat-radio-button>
                    <mat-radio-button class="time" color="primary" value="นอกเวลา">นอกเวลา</mat-radio-button>
                </mat-radio-group>
            </form>

        </div>

        <h3>จ่ายยา ( Dispense )</h3>
        <div fxLayout="row">
            <!-- <form>
                <mat-form-field>
                    <input type="text" placeholder="ชื่อยา" matInput [(ngModel)]="select" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let drug of drugs" [value]="drug.drugName">
                            {{ drug.drugName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form> -->

            <mat-form-field>
                <mat-select [formControl]="drugMultiCtrl" placeholder="ชื่อยา" [multiple]="true" #multiSelect>
                    <ngx-mat-select-search [formControl]="drugMultiFilterCtrl"></ngx-mat-select-search>
                    <mat-option *ngFor="let drug of drugs" [value]="drug.drugName">
                        {{ drug.drugName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-input-text-normal [value]="data.summaryUnit" name="summaryUnit" placeholder="2 กระปุก" text="จำนวน" fxFlex [formGroup]='form'></app-input-text-normal>
        </div>
        <!-- <div fxLayout="row">
            <p>
                Selected Banks:
            </p>
            <ul *ngFor="let drug of drugMultiCtrl?.value">
                <li>{{ drug.drugName }}</li>
            </ul>
        </div> -->

    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>