<app-dialog title="ข้อมูลสรุปความเจ็บป่วย">
    <content fxLayout="column">
        <div fxLayout="row">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="วัน/เดือน/ปีที่มาพบแพทย์">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="เวลาที่มาพบแพทย์" [(ngModel)]="brithDay" aria-label="Custom buttons" [ngxTimepicker]="timepickerWithButtons"
                    readonly>
                <ngx-material-timepicker #timepickerWithButtons [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
            </mat-form-field>
            <ng-template #cancelBtn>
                <button mat-raised-button color="primary" style="margin-right: 10px; ">ยกเลิก</button>
            </ng-template>
            <ng-template #confirmBtn>
                <button mat-raised-button color="primary">ตกลง</button>
            </ng-template>
        </div>
        <app-autocomplete-disease title="โรค" [(selectedDiseases)]="data.disease" (selectedDiseasesChange)="check($event)" name="disease"
            placeholder="เลือกกลุ่ม" fxFlex [formGroup]='form'></app-autocomplete-disease>
        <div fxLayout="row">
            <label>หัตถการ: </label>
            <label> {{ disProcedure }} </label>
        </div>
        <h3 class="daration">ช่วงเวลา ( Duration )</h3>
        <app-dropdown [data]="duration" [value]="data.statusTime" placeholder="ช่วงการรักษา" name="statusTime" fxFlex [formGroup]='form'></app-dropdown>
        <div fxLayout="row">
            <h3 class="treater">ผู้รักษา ( Treater )</h3>
            <app-dropdown-certificate [value]="data.treater" name="treater" fxFlex [formGroup]='form'></app-dropdown-certificate>
            <h3 class="treater">ผู้ตรวจ ( officer )</h3>
            <app-dropdown-officer [value]="data.officer" name="officer" fxFlex [formGroup]='form'></app-dropdown-officer>
        </div>
        <h3>วิธีการรักษา ( Treatment )</h3>
        <!-- <section *ngFor="let element of treat; let i = index">
                        <mat-checkbox color="warn" (change)="toggle($event.checked, element)" [checked]="checkboxTreat[i]" [value]="element.treatMents">{{element.treatMents}}</mat-checkbox>
                    </section> -->
        <app-autocomplete-treatment [(selectedTreatments)]="data.treatment" fxFlex [formGroup]="form"></app-autocomplete-treatment>
        <h3>จ่ายยา ( Dispense )</h3>
        <app-autocomplete-drugmulti [(selectedDrugs)]="data.countDrugs" fxFlex [formGroup]="form"></app-autocomplete-drugmulti>
    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>