<div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center" fxLayoutGap="20px">
    <label fxFlex="nogrow" fxHide.xs>{{text}}</label>
    <mat-form-field fxFlex [formGroup]="formGroup">
      <mat-select [placeholder]="placeholder" [formControlName]="name" (selectionChange)="change.emit($event)">
        <mat-option *ngFor="let element of data" [value]="element._id">
          {{element.treNameTitle}} {{element.trePhysicianName}} {{element.trePhysicianSurName}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>