<app-dialog title="รายละเอียด : ข้อมูลตรวจร่างกายก่อนรักษา">
    <content fxLayout="column">
        <div fxLayout="row">
            <p style="margin-left:20%">อุณหภูมิ : {{data.phyTemp}} องศา </p>
            <p style="margin-left:20%">ชีพจร : {{data.phyPulse}} ครั้ง/นาที</p>
        </div>
        <div fxLayout="row">
            <p style="margin-left:20%">ความดันโลหิต : {{data.phyBp}} มม.ปรอท</p>
            <p style="margin-left:12%">ค่า BMI : </p>
        </div>
        <div fxLayout="row">
            <p style="margin-left:20%">ส่วนสูง : {{data.phyHeight}} เซนติเมตร</p>
            <p style="margin-left:15%">น้ำหนัก : {{data.phyWeight}} กิโลกรัม</p>
        </div>
        <div fxLayout="row">
            <p style="margin-left:20%">ระดับความเจ็บปวด : {{data.phyLevel}}</p>
            <p style="margin-left:11%">ส่วนของร่างกาย : {{data.phyBodyParth}}</p>
        </div>


    </content>
</app-dialog>