<mat-card>
    <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
        <h2>ข้อมูลตรวจร่างกายก่อนการรักษา</h2>
        <div fxFlex></div>
        <app-button-card-title (onClick)="openDialog()">
            <mat-icon>add</mat-icon>เพิ่มข้อมูลตรวจร่างกายก่อนการรักษา</app-button-card-title>
    </mat-card-subtitle>
    <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows"
            [limit]="10">
            <ngx-datatable-column name="วันที่มาพบแพทย์">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{dateShow(value.date)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เวลา">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.time}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="อุณหภูมิ">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.phyTemp}} องศา
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ความดันโลหิต">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.phyBp}} มม.ปรอท
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ส่วนสูง">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.phyHeight}} ซม.
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="น้ำหนัก">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.phyWeight}} กก.
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ค่า BMI">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ calculateBMI(row) }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เครื่องมือ" [maxWidth]="170">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <img src="../assets/images/pencil.png" (click)="openEditDialog(value)" width="40px" height="40px" title="แก้ไข">
                    <img src="../assets/images/395848.svg" (click)="confirmDelete(value)" width="40px" height="40px" title="ลบ">
                    <img src="../assets/images/de.png" (click)=" openDetailDialog(value)" width="40px" height="40px" title="ดูรายละเอียด">
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>