<app-dialog title="ข้อมูลตรวจร่างกายและประเมินผลหลังการรักษา">
    <content fxLayout="column">
        <div fxLayout="row">
            <app-input-text-normal [value]="data.evaAfter" name="evaAfter" placeholder="U61.2" text="การวินิจฉัย" fxFlex [formGroup]='form'></app-input-text-normal>
        </div>
        <div fxLayout="row" style="width: 60%">
            <app-dropdown [data]="level" [value]="data.evaLevel" text="ระดับความเจ็บปวด" placeholder="ระดับความเจ็บปวด" name="evaLevel"
                fxFlex [formGroup]='form'></app-dropdown>
        </div>
        <div fxLayout="row">
            <app-dropdown [data]="bodyparth" [value]="data.evaBodyParth" text="ส่วนของร่างกาย" placeholder="ส่วนของร่างกาย" name="evaBodyParth"
                fxFlex [formGroup]='form'></app-dropdown>
            <img *ngIf="this.form.value.evaBodyParth" src="../../assets/images/{{this.form.value.evaBodyParth}}.jpg" width="40%" height="40%">
        </div>

    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>