mat-card {
  margin: 75px 15px 0 15px;
  padding: 5px 0 5px 0;
}
.breadcrumbs {
    padding: 5px;
    margin: 15px 0;
    list-style: none;
    li {
        display: inline-block;
        :first-child:before{
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }
        a {
            text-decoration: none;
        }
    }
}
