/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'app/theme/theme.scss';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: #87CEFA;
}
  
.material-icons { 
    font-size: 19px;
    height: 19px;
    width: 19px;
    text-align: center;
}