<app-dialog title="การนัดหมาย">
    <content fxLayout="column">
        <div fxLayout="row">
            <app-autocomplete-personal title="เลขที่บัตรผู้ป่วย" [(selectedPersonals)]="data.personal" name="personal" fxFlex [formGroup]='form'></app-autocomplete-personal>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="วันเดือนปีที่นัดพบแพทย์">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <app-dropdown [data]="time" [value]="data.folmytimeHour" placeholder="เวลา" text="เวลานัดหมาย" name="folmytimeHour" fxFlex [formGroup]='form'></app-dropdown>
            <app-dropdown [data]="time" [value]="data.folmytimeMinute" placeholder="เวลา" text="ถึง" name="folmytimeMinute" fxFlex
                [formGroup]='form'></app-dropdown>
        </div>

        <app-input-text-normal [value]="data.folPurpose" text="จุดประสงค์เพื่อ" name="folPurpose" placeholder="จุดประสงค์เพื่อ" fxFlex
            [formGroup]='form'></app-input-text-normal>

        <div fxLayout="row">
            <app-dropdown [data]="duration" [value]="data.folDuration" placeholder="ช่วงการรักษา" text="ช่วงการรักษา" name="folDuration"
                fxFlex [formGroup]='form'></app-dropdown>
            <app-dropdown-certificate [value]="data.cerNameTitle" text="ผู้รักษา" placeholder="ผู้รักษา" name="cerNameTitle" fxFlex [formGroup]='form'></app-dropdown-certificate>
        </div>

    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>