<app-dialog title="การนัดหมาย">
    <content fxLayout="column">
        <!-- <div fxLayout="row">
            <app-input-text-normal [value]="data.personId" name="personId" placeholder="เลขที่บัตร ( ID )" text="" fxFlex [formGroup]='form'></app-input-text-normal>
            <button mat-raised-button (click)="findPerson(userPerson)">
                ค้นหาผู้ป่วย
                <mat-icon>search</mat-icon>
            </button>
        </div> -->
        <div fxLayout="row">
            <app-input-text-normal [value]="data.folName" name="folName" placeholder="ชื่อผู้ป่วย" fxFlex [formGroup]='form'></app-input-text-normal>
            <app-input-text-normal [value]="data.folSurName" name="folSurName" placeholder="นามสกุล" fxFlex [formGroup]='form'></app-input-text-normal>
           <!-- <label>ชื่อ-นามสกุล</label>
            {{rows.personNameTitle}} {{rows.personName}} {{rows.personSurname}} -->
        </div>


        <div fxLayout="row">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="วันเดือนปีที่นัดพบแพทย์">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <app-dropdown [data]="time" [value]="data.folmytimeHour" placeholder="เวลานัดหมาย" name="folmytimeHour" fxFlex [formGroup]='form'></app-dropdown>
            <app-dropdown [data]="time" [value]="data.folmytimeMinute" placeholder="เวลานัดหมาย" text="ถึง" name="folmytimeMinute" fxFlex
                [formGroup]='form'></app-dropdown>

        </div>

        <div fxLayout="row">
            <app-input-text-normal [value]="data.folPurpose" name="folPurpose" placeholder="จุดประสงค์เพื่อ" fxFlex [formGroup]='form'></app-input-text-normal>

            <app-dropdown [data]="duration" [value]="data.folDuration" placeholder="ช่วงการรักษา" text="ช่วงการรักษา" name="folDuration"
                fxFlex [formGroup]='form'></app-dropdown>
        </div>

        <!-- <div fxLayout="row">
            <form>
                <mat-form-field>
                    <input type="text" placeholder="ชื่อผู้รักษา" matInput [(ngModel)]="select" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let cer of treaterNames" [value]="cer.cerNameTitle" [value]= "cer.cerPhysicianName" [value]="cer.cerPhysicianSurName" [value]="cer.cerLicensed_No">
                                {{ cer.cerNameTitle }}{{ cer.cerPhysicianName }} {{ cer.cerPhysicianSurName }} {{ cer.cerLicensed_No }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div> -->

    </content>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
        <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>
</app-dialog>