<mat-card>
    <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
        <h2>ข้อมูลสรุปความเจ็บปวด</h2>
        <div fxFlex></div>
        <app-button-card-title (onClick)="openDialog()">
            <mat-icon>add</mat-icon>เพิ่มข้อมูลสรุปความเจ็บปวด</app-button-card-title>
    </mat-card-subtitle>
    <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
            <ngx-datatable-column name="ลำดับ" [maxWidth]="100">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{rowIndex + 1}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="อาการโรค">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.summarySymptom}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="หัตถการ">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.summaryProcedure}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="วิธีการรักษา">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.summaryTreatment}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="จ่ายยา">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.summaryDrug}} {{value.summaryUnit}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เครื่องมือ" [maxWidth]="170">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <img src="../assets/images/pencil.png" (click)="openEditDialog(value)" width="40px" height="40px" title="แก้ไข">
                    <img src="../assets/images/395848.svg" (click)="confirmDelete(value)"  width="40px" height="40px" title="ลบ">
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>