<mat-card>
    <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
        <h2>ข้อมูลสรุปความเจ็บปวด</h2>
        <div fxFlex></div>
        <mat-form-field>
            <input matInput placeholder='mm/yyyy' (keyup)='searchFilter($event)'>
        </mat-form-field>
        <app-button-card-title (onClick)="openDialog()">
            <mat-icon>add</mat-icon>เพิ่มข้อมูลสรุปความเจ็บป่วย</app-button-card-title>
    </mat-card-subtitle>
    <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows"
            [limit]="10">
            <ngx-datatable-column name="วันที่มาพบแพทย์">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{dateShow(value.date)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เวลา">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.time}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="อาการโรค">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value.disease.disName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ผู้รักษา">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value.treater.treNameTitle}}{{ value.treater.trePhysicianName}} {{ value.treater.trePhysicianSurName}} 
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ผู้ตรวจ">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value.officer.ficerNameTitle}}{{ value.officer.ficerName}} {{ value.officer.ficerSurName}} 
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เครื่องมือ" [maxWidth]="200">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <img src="../assets/images/pencil.png" (click)="openEditDialog(value)" width="40px" height="40px" title="แก้ไข">
                    <img src="../assets/images/395848.svg" (click)="confirmDelete(value)" width="40px" height="40px" title="ลบ">
                    <img src="../assets/images/printer.png" (click)=" openDetailDialog(value)" width="40px" height="40px" title="พิมพ์ใบสรุปความเจ็บป่วย">
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>